@charset "utf-8";
/* CSS Document */
body {
	background-color: #018281;
	font-family: 'VT323', monospace;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin: 0;
}

.desktop-container {
	margin: 16px;
}

/* DEKSTOP ICON SIZING */
#desktop, 
#folder, 
#recycleBin {
	height: 125px;
}

/* DESKTOP ICON TITLES */
h2 {
	color: white;
	letter-spacing: .75px;
	font-weight: lighter;
}

.my-computer-title {
	margin-top: -18px;
    margin-left: 4px;
}
.multimedia-folder-title {
	margin-top: -36px;
    margin-left: 46px;
}
.recycle-bin-title {
	margin-top: -28px;
    margin-left: 8px;
}

.my-computer,
.multimedia-folder,
.recycle-bin {
	margin-left: 20px;
}

/* FOOTER & START MENU */
footer {
	background-color: #c0c0c0;
	border: 4px outset #d3d3d3;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

#startMenu {
	height: 70px;
}

.start-button-container {
    margin-left: 6px;
}

.clock {
	border-color: currentcolor #f5f5f5 #f5f5f5 currentcolor;
    border-style: inset;
    margin-right: 8px;
	width: 50px;
    padding: 8px 10px;
	display: flex;
    justify-content: center;
}

#clock-time {
	font-size: 32px;
    margin: 0;
}

/* ERROR MESSAGES */
.error-message1,
.error-message2 {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	height: 244px;
}

.bluescreen {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}
